<!DOCTYPE html>
<html lang="ru" >
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
</head>
<body class=" app-account model-company change-form" data-admin-utc-offset="0">

{% block content %}
{% endblock %}
</body>
</html>